{% extends 'Base.html' %}
{% load static %}

{% block main %}
    <br>
    <table id="products_increase_table" class="table">
        <thead>
        <tr>
            <th>Назва товару</th>
            <th>Зміна кількості продаж</th>
            <th>Зміна обороту</th>

        </tr>
        </thead>
        <tbody>
        </tbody>


    </table>
    <div class="container">
        <ul class="pagination justify-content-end" id="products_increase_pagination">
        </ul>
    </div>
{% endblock %}

{% block extrajs %}
        <script src="{% static 'js/products_increase.js' %}"></script>
{% endblock %}